#actions {
    display: flex;
}

#filtre {
flex: 1;
}

#sesizare {
flex: 1;
}

#filtre label {
    display: block;
}

#sesizare form select {
    display: block;
}

.formLabel {
    padding-right: 2em;
}

#pinDescription {
    height: 5em;
}